<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href=/resources/style.css type=text/css rel=stylesheet/>
    <title>Rider</title>
</head>
<body>
    <h1 id="r1">Create Rider</h1>


       

    <form method="POST" action="/rider">
            Firstname: <input type="text" id="firstname" name="firstname"/><br><br>
            Lastname: <input type="text" id="lastname" name="lastname"/><br><br>
            Email: <input type="text" id="email" name="email"/><br><br>
            Mobile: <input type="text" id="mobile" name="mobile"/><br><br>
            Score: <input type="text" id="score" name="score"/><br><br>
            <input type="reset" value="Reset">
            <input type="submit" value="Submit"/>
    </form>


    
</body>
</html>

