<html>
    <head>
        <link href=/resources/style.css type=text/css rel=stylesheet/>
    </head>
    <body>
        <h1>Rider: <%= ID %></h1>
        <p>Rider Length: <%= ID.length %></p>
        <h2>Query String: <%= QSTR %></h2>
    </body>
</html>